<div id="stepOne" style="margin-left:auto;margin-right:auto;width:900px;border:1px solid black; height: 515px; padding-left: 15px; background-color:white;">

<h1>These are your alerts:</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Start</th>
    <th>End</th>
    <th>Active</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @alerts != nil %>
  <% @alerts.each do |alert| %>
    <tr>
      <td>URL </td>
      <td><%= alert.start %></td>
      <td><%= alert.end %></td>
      <td><%= alert.active %></td>
      <td><%= alert.user %></td>
      <td><%= link_to 'Show', alert %></td>
      <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
      <td><%= link_to 'Destroy', alert, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% else %>
No Alerts yet 
<% end %>
</table>

<br />

</div>